<!DOCTYPE html>
<html>
  <head>
    <title><%= post.title %></title>
  </head>
  <body>
    <%- include('partials/header') %>

    <h2><%= post.title %></h2>
    <p><%= post.content %></p>

    <a href="/">Back to Home</a>

    <%- include('partials/footer') %>
  </body>
</html>
